
@{
    Layout = null;
}
@model mymvc2.Models.SysUser
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>

</head>
<body>

    <div>
        <h2> Delete</h2>
        <h3>真的要删除吗？</h3>
        <h4>User</h4>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dt>@Html.DisplayFor(model => model.UserName)</dt>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dt>@Html.DisplayFor(model => model.Email)</dt>
        </dl>
        @using (Html.BeginForm())
        {
            <div>
                <input type="submit" value="Delete"/>
            </div>
        }
        @Html.ActionLink("返回首页","Index")
    </div>
</body>
</html>
